.cards{
    background: #0E0E0E;
    padding:0 1.25rem 5rem 1.25rem ;
    
}
.caixa{
    padding: 1.4rem 1.1rem;
    margin-bottom: 2rem;
}
.caixa h1{
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: #ffff;
    margin-bottom: 1.8rem;
}
.caixa p{
    font-family:'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffff;
}

.primeiro {
    background-color: #E73634;
}

.segundo-terceiro {
    background-color: #161616;;
}

