.manifesto {
    padding:4rem 1.25rem 6rem 1.25rem ;
    background: #E73634;

}
.jobs {
    width: 100%;
}

.manifesto h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.6rem;
    color: #ffff;
    margin-bottom: 1.5rem;
}
.manifesto-texto{
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #ffffff;
}
.manifesto-texto strong{
    font-weight: 700;
}

.destaque-palavra {
    color: black;
    font-family: 'Montserrat', sans-serif; ;
    font-size:1rem ;
    font-weight: 900;
}